<% if (messages.success) { %>
    <div class="flash flash-success"><%= messages.success %></div>
  <% } %>
  
  <h1>Thank you, your form has been submitted.</h1>
  
  <p><a href="/">Return to the homepage form</a></p>
  