<div class="row">
  <div class="col-md-12">
    <h1>Job Match Service for Job Seekers and Employers</h1>
    <p>WorkBC Job Match is a new service to connect job seekers and employers in fulfilling essential roles during the COVID-19 pandemic. It’s part of a government action plan to secure critical supply chains in B.C.</p>
    <p>This new tool will:</p>
    <ul>
      <li>Connect job-seekers with employers</li>
      <li>Fulfill jobs in urgent demand areas</li>
      <li>Support employers with critical staffing needs</li>
      <li>Secure critical supply chains</li>
    </ul>
    <p>Please select:</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p><a href="/employer" class="btn btn-lg btn-primary">Employer</a></br/></p>
  </div>
  <div class="col-md-6">
    <p><a href="/jobseeker" class="btn btn-lg btn-primary">Job Seeker</a><br/></p>
  </div>
</div>
<div class="row" style="margin-top:2em">
  <div class="col-md-12">
    <h3>Data collection notice/Privacy Statement</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit vehicula est vel pulvinar. Cras fringilla, lorem euismod blandit pellentesque, nisl nunc fermentum elit, eget feugiat nisl ipsum vitae neque. Nullam venenatis venenatis tristique. Sed vel feugiat massa. Praesent velit ante, tristique in gravida sit amet, ullamcorper eget risus. Duis faucibus auctor neque, ac suscipit lorem feugiat tincidunt. Suspendisse convallis velit id consectetur tempor. Phasellus et est nisi. Sed at quam dui. Ut non rutrum orci. Sed venenatis, neque a elementum condimentum, lacus est mollis massa, in molestie mauris lorem ut arcu. Phasellus blandit lectus est, cursus tempus dolor luctus eu. Vivamus rutrum lobortis sapien, vitae suscipit neque.
    </p>
    <p>
      Maecenas consequat tortor ex, ac maximus orci suscipit sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse elementum arcu convallis velit ullamcorper, nec commodo mi tincidunt. Donec at erat massa. Vivamus vel urna tristique, pulvinar nisi rhoncus, pretium turpis. Etiam varius tempus nisl posuere lobortis. Mauris vehicula dui a facilisis consequat. Ut vitae libero elit. Aliquam ut sagittis augue, sed pulvinar enim. Curabitur auctor turpis nec lacus tempus semper. Etiam tincidunt orci non felis varius consequat. Duis eu malesuada lacus. Cras semper vehicula ultrices. Proin rhoncus a erat id suscipit. Curabitur pretium, mauris ac sodales sollicitudin, sapien est vestibulum urna, ac suscipit ante augue commodo tortor. Curabitur enim magna, condimentum et imperdiet varius, sagittis a mi.
    </p>
  </div>
</div>
</div>