<div class="row">
  <div class="col-md-12">
    <p><img src="images/jobmatch_banner.png" class="img-fluid" alt="WorkBC Job Match Banner image"/></p>
    <h1>WorkBC Job Match Service for Job Seekers and Employers</h1>
    <p>WorkBC Job Match is a new service to connect job seekers and employers in filling essential roles during the COVID-19 pandemic.<br> These roles help British Columbians access daily services essential to health, public safety and basic societal functioning.</p>
    <p>WorkBC Job Match is quick and easy to use:</p>
    <ul>
      <li>Connecting workers with employers in essential services </li>
      <li>Supporting employers to meet critical staffing needs </li>
    </ul>
    
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Get Started</h1>
    <h2>I am a</h2>
  </div>
  <div class="col-md-6">
    <p><a href="/jobseeker" class="btn btn-lg btn-primary">Job Seeker</a><br/></p>
    <p>Step 1 – Complete the simple <a href="/jobseeker">Job Seeker form</a></p>
    <p>Step 2 – Job Match will refer you to an employer</p>
  </div>
  <div class="col-md-6">
    <p><a href="/employer" class="btn btn-lg btn-primary" style="width:132px">Employer</a></p>
    <p>Step 1 – Complete the simple <a href="/employer">Job Profile form</a></p>
    <p>Step 2 – Job Match will refer suitable job seekers to you</p> 
  </div>
</div>
<div class="row">
  
</div>
<div class="row" style="margin-top:2em">
  <div class="col-md-12">
    <h4>Collection Notice</h4>
    <p class="small">
      Personal information collected on this form is collected under the authority of sections 26 (c) and (e) of the Freedom of Information and Protection of Privacy Act (FOIPPA) and is subject to all of the provisions of that Act. The personal information collected may be used by the Ministry of Social Development and Poverty Reduction, its service providers and associates of those service providers to administer and evaluate the effectiveness of Job Match. Under the authority of section 33.1 (d) of FOIPPA, the personal information collected may also be disclosed to Employment and Social Development Canada or the Canada Employment Insurance Commission, either of which may use your personal information to monitor, assess or evaluate the effectiveness of Job Match. If you have any questions about the collection, use or disclosure of your personal information, please contact the Records clerk of the Employment and Labour Market Services Division, Ministry of Social Development and Poverty Reduction at <a href="mailto:WorkBCOESprivacy@gov.bc.ca">WorkBCOESprivacy@gov.bc.ca</a>.
    </p>
    <h4>Consent for Collection, Use and Disclosure</h4>
    <p class="small">
      I consent to the Ministry of Social Development and Poverty Reduction, its service providers and associates of those service providers:
    </p>
    <ul>
      <li class="small">Disclosing my personal information to any employer that may have a suitable job opportunity for me;</li>
      <li class="small">Collecting my personal information from any employer to which I have been referred, or to which my  personal information has been provided, for the purposes of administering or evaluating Job Match; and</li>
      <li class="small">Using my personal information to contact me to discuss other services for which I may be eligible.</li>
    </ul>
    <p class="small">
      I acknowledge and understand that by clicking the "submit" icon, I am attaching my electronic signature to this form, and that by doing so, I am providing the same consent as I would by manually signing a physical copy of this form.
    </p>
  </div>
</div>
</div>