<div class="row">
  <div class="col-md-12">
<% if (messages.success) { %>
    <div class="alert alert-success"><%= messages.success %></div>
    <h3>Thank you for submitting your job profile on Job Match. If you have questions or would like to notify us that your vacancies have been filled, please email <a href="mailto:WorkBChiring@gov.bc.ca">WorkBChiring@gov.bc.ca</a></h3>
<% } %>
  
  <p><a href="/">Click here to return to the homepage</a></p>
</div>
</div>